* {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.text-shadow {
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

@keyframes bounce-animation {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}
.animate-bounce-animation {
    animation: bounce-animation 1s infinite;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.carousel-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

body.dark-mode {
    background-color: black;
    color: #e0e0e0;
}

button.toggle-button {
    background-color: transparent;
    border: 2px solid #333;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
    border-radius: 5px;
    margin-top: 20px;
}

p.dark-mode {
    color: #e0e0e0;
}

body.dark-mode button.toggle-button {
    border-color: #e0e0e0;
    color: #e0e0e0;
}

button.toggle-button:hover {
    background-color: #f0f0f0;
}


body.dark-mode button.toggle-button:hover {
    background-color: #333;
}
